.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: black;
    color: snow;
    font-size: 25px;
}

.Header button{
    position: absolute;
    right: 90%;
    border-style: none;
    background-color: black;
    height: 40px;
    color: snow;
    font-size: 20px;
    border-radius: 10px;
    padding: 0 5px;
}
.Header button:active {
    background-color: darkgray;
}

.Header button:disabled {
    display: none;
}

.Header p {
    position: absolute;
    left: 70%;
    font-size: 20px;
}